@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./prism.scss";

::selection {
  @apply text-gray-100 bg-gray-800 dark:text-gray-900 dark:bg-gray-100;
}

html {
  tab-size: 2;
  min-width: 360px;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

// /* twemoji */
// img.emoji {
//   display: inline-block;
//   height: 1em;
//   width: 1em;
//   margin: 0 0.05em 0 0.1em;
//   vertical-align: -0.1em;
// }

.prose {
  .katex {
    font-size: 1.5em;
  }

  code {
    @apply px-1.5 py-0.5 rounded border text-sm text-gray-900 border-gray-200 bg-gray-100 dark:text-gray-200 dark:border-gray-800 dark:bg-gray-900;
  }

  a {
    @apply no-underline;

    &[aria-hidden="true"][href^="#"] {
      margin-left: -1.5ch;
      margin-right: 0.5ch;

      @apply hover:bg-opacity-0;
      @apply font-normal;
      @apply p-0;
    }
  }

  span.icon.icon-link {
    font-size: 1em;
    text-decoration: none;

    @apply opacity-50;
    @apply hover:opacity-100;

    &::before {
      content: "#";

      @apply text-gray-500;
      @apply dark:text-gray-400;
    }
  }

  details > div {
    margin-left: 1.25em;
  }

  label {
    @apply my-1.5 pl-5;

    display: block;
    text-indent: -1.3rem;

    input {
      @apply mr-2;
    }
  }

  summary {
    @apply my-2 pl-5;

    text-indent: -1rem;
  }

  .footnote-backref {
    @apply ml-2;
  }

  .footnote-ref {
    @apply ml-0.5;

    &::before {
      content: "[";
    }

    &::after {
      content: "]";
    }
  }
}

.prose > :first-child {
  /* Override removing margin, to prevent layout shift */
  margin-top: 1.25em !important;
  margin-bottom: 1.25em !important;
}

.quote::after {
  content: "”";

  @apply top-0 right-0 text-7xl font-serif text-gray-400 dark:text-gray-600 absolute;
}

pre {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  &::-webkit-scrollbar {
    display: none;
  }

  span {
    white-space: pre !important;
  }
}

/* Remove Safari input shadow on mobile */
input[type="text"],
input[type="email"] {
  appearance: none;
}
