@tailwind base;
@tailwind components;
@tailwind utilities;

@import "fonts.css";
@import "prism.css";

::selection {
  @apply text-gray-100 bg-indigo-500 dark:text-coolGray-900 dark:bg-indigo-400;
}

html {
  min-width: 360px;
  scroll-behavior: smooth;
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.sticky-nav {
  position: sticky;
  z-index: 10;
  top: 0;
  backdrop-filter: blur(20px);
  transition: background-color 0.1 ease-in-out;
  --tw-bg-opacity: 0.6 !important;
}

@supports not (backdrop-filter: none) {
  .sticky-nav {
    backdrop-filter: none;
    --tw-bg-opacity: 1 !important;
  }
}

.prose pre {
  @apply border border-coolGray-700 bg-coolGray-800 text-coolGray-200;
}

.prose code {
  @apply px-1.5 py-0.5 rounded border border-coolGray-700 text-coolGray-200 bg-coolGray-800;
}

.prose img {
  /* Don't apply styles to next/image */
  @apply m-0 rounded-md;
}

.prose a {
  @apply no-underline hover:underline;
}

.prose > :first-child {
  /* Override removing top margin, causing layout shift */
  margin-top: 1.25em !important;
  margin-bottom: 1.25em !important;
}

pre::-webkit-scrollbar {
  display: none;
}

pre {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

table {
  display: block;
  overflow-y: scroll;
}

.remark-code-title {
  @apply text-coolGray-200 px-5 py-3 border border-b-0 border-coolGray-700 rounded-t bg-coolGray-700 text-sm font-mono;
}

.remark-code-title + pre {
  @apply mt-0 rounded-t-none;
}

.mdx-marker {
  @apply block -mx-4 px-4 bg-gray-100 dark:bg-coolGray-800 border-l-4 border-blue-500;
}

/* Remove Safari input shadow on mobile */
input[type="text"],
input[type="email"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
