@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  @apply bg-gray-800 text-gray-100 dark:bg-gray-100 dark:text-gray-900;
}

html {
  tab-size: 2;
  min-width: 360px;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;

  @media screen and (min-width: 768px) {
    margin-left: calc(100vw - 100%);
    margin-right: 0;
  }
}

.prose {
  > :first-child {
    /* Override removing margin, to prevent layout shift */
    margin-top: 1.25em !important;
    margin-bottom: 1.25em !important;
  }

  .katex {
    font-size: 1.5em;
  }

  img {
    @apply my-0;
  }

  code {
    @apply rounded border border-gray-200 bg-gray-100 px-1 py-0.5 text-sm text-gray-900 dark:border-gray-800 dark:bg-gray-900 dark:text-gray-200;
  }

  a {
    @apply no-underline;

    &[aria-hidden="true"][href^="#"] {
      margin-left: -1.8ch;
      margin-right: 0.8ch;

      @apply hover:bg-opacity-0;
      @apply font-normal;
      @apply p-0;
    }
  }

  span.icon.icon-link {
    font-size: 0.9em;
    text-decoration: none;

    @apply select-none;
    @apply opacity-20;
    @apply dark:opacity-20;
    @apply hover:opacity-80;

    &::before {
      content: "#";

      @apply font-mono2;
      @apply text-gray-500;
      @apply dark:text-gray-400;
    }
  }

  details > *:last-child {
    @apply mb-0;
  }

  video {
    @apply m-0;
  }
}

.quote::after {
  content: "”";

  @apply absolute top-0 right-0 font-serif text-7xl text-gray-400 dark:text-gray-600;
}

pre {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  &::-webkit-scrollbar {
    display: none;
  }

  span {
    white-space: pre !important;
  }
}

/* Remove Safari input shadow on mobile */
input[type="text"],
input[type="email"] {
  appearance: none;
}
