code[class*="language-"],
pre[class*="language-"] {
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;

  @apply text-coolGray-100;
}

.language-css > code,
.language-sass > code,
.language-scss > code {
  @apply text-orange-400;
}

[class*="language-"] .namespace {
  opacity: 0.7;
}

.token.comment {
  @apply italic;
}

.token.atrule,
.token.boolean,
.token.class-name,
.token.constant,
.token.function,
.token.id,
.token.important,
.token.keyword,
.token.regex,
.token.symbol {
  @apply text-rose-400;
}

.token.attr-name,
.token.builtin,
.token.cdata,
.token.char,
.token.class,
.token.inserted,
.token.operator,
.token.property {
  @apply text-cyan-400;
}

.token.comment,
.token.doctype,
.token.prolog,
.token.punctuation {
  @apply text-coolGray-400;
}

.token.deleted,
.token.entity,
.token.number,
.token.selector,
.token.tag,
.token.url,
.token.variable {
  @apply text-indigo-400;
}

.token.attr-value,
.token.attribute,
.token.pseudo-class,
.token.pseudo-element,
.token.string {
  @apply text-amber-400;
}

.token.hexcode,
.token.unit {
  @apply text-pink-400;
}
